.theme--light
  .v-btn
    &:not(.v-btn--round)
      position: relative
      color: $white
      text-transform: initial
      min-width: 290px
      background: linear-gradient(180deg, #4482FF 0%, #2450DB 100%)
      box-shadow: 0px 10px 20px rgba(31, 63, 174, 0.04), 0px 2px 6px rgba(31, 63, 174, 0.04), 0px 0px 1px rgba(31, 63, 174, 0.04)
      +mt(.3s)
      &:after
        content: ''
        position: absolute
        z-index: 2
        left: 3px
        top: 3px
        width: calc(100% - 6px)
        height: calc(100% - 6px)
        border-radius: 100px
        // background: rgba(255,255,255, 0.1)
      &:before
        display: none
      .v-btn__content
        &:before
          content: ''
          position: absolute
          left: -15px
          top: -12px
          width: 31px
          height: 31px
          background-image: url('~images/btn-bable-big.svg')
          z-index: 3
        &:after
          content: ''
          position: absolute
          right: -15px
          bottom: -5px
          width: 21px
          height: 18px
          background-image: url('~images/btn-bable-small.svg')
          z-index: 3
      &:hover
        +mt(.3s)
        background: linear-gradient(180deg, #2661DC 0%, #133FBD 100%)
        box-shadow: 0px 10px 20px rgba(31, 63, 174, 0.04), 0px 2px 6px rgba(31, 63, 174, 0.04), 0px 0px 1px rgba(31, 63, 174, 0.04)
    &--outlined
      &:not(.v-btn--round)
        background: transparent
        &:after
          display: none
        &:hover
          background: linear-gradient(180deg, #D7E0FF 0%, #EAEFFF 0.01%, #D1DCFF 100%)
          color: #000
        &.secondary--text
          display: flex
          border: solid 2px #2661DC
          color: #fff !important
          &:hover
            background: linear-gradient(180deg, #2661DC 0%, #133FBD 100%)
    &:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
      &.tuna
        background: #313239
        background-color: #313239
        border-radius: 5px
        font-size: 18px
        +font(600)
        box-shadow: none
        height: 60px
        padding: 0 20px
        &:after
          display: none
        .v-btn__content
          &:after,
          &:before
            display: none
        &:hover
          background: #4F5057
          background-color: #4F5057

.btn-rounded
  border-radius: 100px
  opacity: 1!important
  font-weight: 600!important
  font-size: 16px!important
  line-height: 170%
  letter-spacing: 0.01em
.btn-with-arrow
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 8px 43px 9px 36px
  img
    margin-left: 8px
.btn-white
  background: #fff
  color: #3357CF!important
  &:hover
    box-shadow: 0px 0px 0px 5px rgba(91, 123, 255, 0.72)
.btn-gradient
  background: linear-gradient(180deg, #4382FF 0%, #2450DB 100%, #0433BF 100%)
  &:hover
    box-shadow: 0px 0px 0px 5px rgba(91, 123, 255, 0.24)
  .arrow-right
    filter: brightness(0) invert(1)
.btn-gradient-variant
  background: linear-gradient(180deg, #5CEFFF 0%, #0A88E3 90.34%), #FFFFFF
  &:hover
    box-shadow: 0px 0px 0px 5px rgba(88, 234, 254, 0.25)
.btn-tsp
  background: transparent
  border: 2px solid #4382FF
  .arrow-right
    filter: brightness(0) invert(1)
  &:hover
    box-shadow: 0px 0px 0px 5px rgba(91, 123, 255, 0.24)
    background: linear-gradient(180deg, rgba(42, 71, 167, 0.5) 0%, rgba(51, 87, 207, 0.16) 100%)
.btn-default
  padding: 7px 26px 8px 25px
  display: inline-flex
  justify-content: center
  align-items: center
.btn-white-bd
  border: 2px solid #FFFFFF
  background: transparent
  padding: 8px 37px 9px 37px
  &:hover
    box-shadow: 0px 0px 0px 5px rgba(91, 123, 255, 0.72)
    background: #3B5ED8