i,
em
  font-style: italic
strong, b
  +font(700)
h1, h2, h3, h4, h5, h6
  +font(700)
h1
  font-size: sizeInRem(75)
  line-height: 82px
  color: $primary
  @media screen and (max-width: 767px)
    font-size: sizeInRem(35)
    line-height: 45px
h2
  font-size: sizeInRem(42)
  line-height: 46px
  @media screen and (max-width: 767px)
    font-size: sizeInRem(30)
    line-height: 40px
h3
  font-size: sizeInRem(33)
  line-height: 42px
h4
  font-size: sizeInRem(24)
  line-height: 40px
h5
  font-size: sizeInRem(17)
  line-height: 26px
h6
  font-size: sizeInRem(14)
  line-height: 20px
.v-application
  a:not(.v-btn)
    color: $primary !important
    text-decoration: none
    opacity: 0.50
    font-size: 16px
    +mt(.2s)
    +font(600)
    &:hover
      +mt(.2s)
      opacity: 1
      color: $primary !important
hr
  border-bottom: solid 1px $primary
  border-top: none
  border-left: none

// H - titles by class
.is-h1__title
  @extend h1
.is-h2__title
  @extend h2
.is-h3__title
  @extend h3
.is-h4__title
  @extend h4
.is-h5__title
  @extend h5
.is-h6__title
  @extend h6