$primary: #515D69
$secondary: #2BE48D
$blue: #6AD9F4
$black: #3D4751
$dark_grey: #9EA3A8
$grey: #D0D9DB
$bg_grey: #F6FAFB
$yellow: #F2F230
$red: #EF476F
$orange: #F9A620
$purple: #8B80F9
$white: #fff
$primary_gradient: linear-gradient(359.49deg, #2AE48B 0.64%, #6AD9F4 157.27%)
