.container:not(.fluid)
  max-width: 1170px
  padding-top: 0
  padding-bottom: 0
.container:not(.fluid).grid-list-lg
  padding: 0 15px
.container.grid-list-lg .layout .flex
  padding-top: 0 !important
  padding-bottom: 0 !important
.container.grid-list-lg .layout:only-child
  margin: auto -15px
.container.fluid
  padding: 0
.theme--light
  // background-color: #fff !important
  color: $primary
  &.v-application
    color: $primary
.row
   margin-left: 0
   margin-right: 0
.v-application--wrap
  .v-content
    overflow-x: hidden
body
  overflow: hidden
  &.body-page-terms
    background: #F7F7F7 !important
    .v-application
      background: #F7F7F7 !important
.v-overlay
  &--active
    z-index: 1 !important
.s-container
  width: 100%
  margin: 0 auto
  max-width: 1140px
  padding-left: 15px
  padding-right: 15px
  position: relative
  z-index: 1
  @media screen and (max-width: 1199px)
    padding-left: 32px
    padding-right: 32px
  @media screen and (max-width: 991px)
    padding-left: 15px
    padding-right: 15px