$color-pack: false !default;

$body-font-family: 'Poppins', sans-serif !default;
$font-size-root: 18px !default;
$line-height-root: 30px!default;

$spacer: 4px !default;

$spacers: ();
@for $i from 0 through 12 {
  $spacers: map-merge($spacers, ($i: $spacer * $i))
}
$negative-spacers: ();
@for $i from 1 through 12 {
  $negative-spacers: map-merge($negative-spacers, ("n" + $i: -$spacer * $i))
}

$grid-breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
) !default;
$grid-gutter: 15px !default;
$form-grid-gutter: $spacer * 2 !default;
$grid-columns: 12 !default;

$container-padding-x: $grid-gutter * 0.5 !default;

$grid-gutters: (
  'xs': $grid-gutter  4,
  'sm': $grid-gutter * 0.5,
  'md': $grid-gutter,
  'lg': $grid-gutter * 2,
  'xl': $grid-gutter * 3,
) !default;

$container-max-widths: (
  'md': map-get($grid-breakpoints, 'md'),
  'lg': map-get($grid-breakpoints, 'lg'),
  'xl': map-get($grid-breakpoints, 'xl')
) !default;

$heading-font-family: $body-font-family !default;

// buttons vars
$btn-border-radius: 100px;
$btn-sizes: (
  'x-small': 70,
  'small': 77,
  'default': 80,
  'large': 80,
  'x-large': 80
) !default;
$btn-font-sizes: (
  'x-small': 16px,
  'small': 18px,
  'default': 24px,
  'large': 26px,
  'x-large': 28px
) !default;
$btn-font-size: 24px;
$btn-letter-spacing: normal;
$btn-font-weight: 600;
$text-field-border-radius: 2px;